# Node modules (React)
frontend/node_modules/
node_modules/

# Maven build files (Spring Boot)
CampusLearn/target/
target/

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log



# React build
frontend/build/

# Maven wrapper
.mvn/
mvnw
mvnw.cmd